{{ define "main" }}


{{ range .Pages }}
<div style="margin-top: 2em;">
  {{ range .Pages }}
  <div style="margin-right: 250px;">
    {{ if .Params.thumbnail}}
    {{ $image := .Resources.GetMatch .Params.thumbnail }}
    <div
      style="position: relative; left: {{ index (seq 10 90 | shuffle) 0 }}%; width: 250px; padding: 25px 0;text-align: center;">
      <a href="{{ .Permalink }}">
        <div style="text-align: center; width: 250px;">
          {{ with $image.Resize "250x jpeg" }}
          <img loading="lazy" width="250" src="{{ .RelPermalink }}" />
          {{ end }}
        </div>
        <span>{{ .Title }}</span>
      </a>
    </div>
    {{ end }}
  </div>
  {{ end }}
  {{ end }}
</div>
{{ end }}