{{ define "main" }}

<div class="content">
    <div class="images">
        <div>
            {{ range .Resources.ByType "image" }}
                {{ with .Resize "500x png"}}
                <img src="{{ .RelPermalink }}" />
                {{ end }}
            {{ end }}
        </div>
    
        <div>
        {{ range .Resources.ByType "audio" }}
            <audio controls>
                <source src="{{ .RelPermalink }}" type="{{ .MediaType }}">
                Your browser does not support the audio element.
            </audio> 
        {{ end }}
        </div>
    
        <div>
        {{ range .Resources.ByType "video" }}
            <video width="500" controls>
                <source src="{{ .RelPermalink }}" type="{{ .MediaType }}">
                Your browser does not support the video tag.
            </video> 
        {{ end }}
        </div>
    </div>

    <span style="text-align: center;display: absolute;">
        {{ .Content }}
    </div>
</div>

<div style="height: 100px"></div>

{{ end }}
