{{ define "main" }}

<div style="height:100px"></div>

<div style="display: flex;align-items: center;justify-content: center;">
    
    <div class="content" style="max-width:800px;">
        <div class="images">
            <div>
                {{ range .Resources.ByType "image" }}
                    {{ if ne .Name "title.png" }}
                        <div itemscope itemtype="http://schema.org/ImageObject">
                            <meta itemprop="name" content="{{ .Title }}" />
                            <meta itemprop="embedURL" content="{{ .RelPermalink }}" />
                            <img src="{{ .RelPermalink }}" alt="image of pieces" itemprop="image"/>
                        </div>
                    {{ end }}
                {{ end }}
            </div>
        
            <div>
            {{ range .Resources.ByType "audio" }}
                <audio controls itemprop="audio">
                    <source src="{{ .RelPermalink }}" type="{{ .MediaType }}">
                    Your browser does not support the audio element.
                </audio> 
            {{ end }}
            </div>
        
            <div>
            {{ range .Resources.ByType "video" }}
            <div itemscope itemtype="http://schema.org/VideoObject">
                <meta itemprop="name" content="{{ .Title }}" />
                <meta itemprop="embedURL" content="{{ .RelPermalink }}" />
                <video width="500" controls itemprop="video">
                    <source src="{{ .RelPermalink }}" type="{{ .MediaType }}">
                    Your browser does not support the video tag.
                </video> 
            </div>
            {{ end }}
            </div>
        </div>

        <span style="text-align: left;display: absolute;">
            {{ .Content }}
        </div>
    </div>
</div>

<div style="height: 100px"></div>

{{ end }}
