{{ define "main" }}

<div class="content" itemscope itemtype="http://schema.org/CreativeWork">
    <div class="images">
        <div>
            {{ range .Resources.ByType "image" }}
                {{ with .Resize "500x q90 png"}}
                <img src="{{ .RelPermalink }}" alt="image of pieces" itemprop="image"/>
                {{ end }}
            {{ end }}
        </div>
    
        <div>
        {{ range .Resources.ByType "audio" }}
            <audio controls itemprop="audio">
                <source src="{{ .RelPermalink }}" type="{{ .MediaType }}">
                Your browser does not support the audio element.
            </audio> 
        {{ end }}
        </div>
    
        <div>
        {{ range .Resources.ByType "video" }}
            <video width="500" controls itemprop="video">
                <source src="{{ .RelPermalink }}" type="{{ .MediaType }}">
                Your browser does not support the video tag.
            </video> 
        {{ end }}
        </div>
    </div>

    <span style="text-align: center;display: absolute;" itemprop="text" itemprop="abstract">
        {{ .Content }}
    </div>
</div>

<div style="height: 100px"></div>

{{ end }}
