<style type="text/css">
@font-face {
    font-family: 'optigargoyleregular';
    src: url('/fonts/optigargoyle-normalsupplem-webfont.woff2') format('woff2'),
        url('/fonts/optigargoyle-normalsupplem-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'buenaparkjfregular';
    src: url('/fonts/buenaparkjf_regular-webfont.woff2') format('woff2'),
        url('/fonts/buenaparkjf_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
body {
    margin: 1em;
    padding: 0;
}

h1, h2, h3, h4, h5, header a {
    font-family: 'buenaparkjfregular', Arial, Helvetica, sans-serif;
    color: rgb(20, 71, 223);
    margin-top: 0.3em;
    text-decoration: none;
}
p {
    font-family: 'optigargoyleregular', Arial, Helvetica, sans-serif;
    color: rgb(134, 158, 253);
    font-size: 13pt;
}
a, p {
    color: rgb(134, 158, 253);
}
header {
    top: 0;
    left: 0;
    position: fixed;
    margin: 0 1em;
}
#main, #about {
    margin-top: 6em;
}
.content {
    text-align: center;
    margin: 25px;
}
footer {
    min-height: 10vh;
}
#about p {
    font-size: 3em;
    text-align: left;
}
@media screen and (max-width: 600px) 
{
    #about p 
    {
        font-size: 2em;
    }  
}
</style>
