<style type="text/css">
body {
    margin: 1em;
    padding: 0;
}
@font-face {
    font-family: 'optigargoyleregular';
    src: url('/fonts/optigargoyle-normalsupplem-webfont.woff2') format('woff2'),
        url('/fonts/optigargoyle-normalsupplem-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'buenaparkjfregular';
    src: url('/fonts/buenaparkjf_regular-webfont.woff2') format('woff2'),
        url('/fonts/buenaparkjf_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
h1, h2, h3, h4, h5, header a {
    font-family: 'buenaparkjfregular', Arial, Helvetica, sans-serif;
    color: rgb(20, 71, 223);
    margin-top: 10px;
}
p {
    font-family: 'optigargoyleregular', Arial, Helvetica, sans-serif;
    color: rgb(134, 158, 253);
    font-size: 13pt;
}
a, p {
    color: rgb(134, 158, 253);
}
header {
    top: 0;
    left: 0;
    position: fixed;
    background-color: white;
    width: 100%;
    height: 50px;
    padding-left:1em;
}
#main {
  margin-top: 70px;
}
header a {
    text-decoration: none;
}
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}
.header-left {
    text-align: left;
    padding-left:1em;
}
.header-right {
    text-align: right;
    padding-right:1em;
}
.entity {
}
.entity-thumbnail {
}
</style>
